:root {
  --Mobile-fs-mid: 1.5em;
  --Mobile-fs-small: 1em;
  --black: #333;
  --linkedin-blue: #1da1f2;
  --twitter-black: black;
  --instagram-pink: #c13584;
  --fb-blue: #3b5998;
}

@media (max-width: 550px) {
 

  .nav_menu {
    display: none;
  }
  nav{
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
  }
  .name:hover .name_hover {
    width: 0;
    filter: none;
  }
  .hamburger_menu {
    height: 50px;
    width: 70px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    height: 4px;
    width: 30px;
    background: black;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    height: 4px;
    width: 40px;
    background: black;
    position: absolute;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
  }

  .hamburger::before {
    transform: translateY(-15px);
  }

  .hamburger::after {
    transform: translateY(15px);
  }

  .hamburger_menu.open .hamburger {
    transform: translateX(-50px);
    background: transparent;
  }

  .hamburger_menu.open .hamburger::before {
    transform: translate(50px, 0px) rotate(45deg);
    height: 4px;
    width: 30px;
  }

  .hamburger_menu.open .hamburger::after {
    transform: translate(50px, 0px) rotate(-45deg);
    height: 4px;
    width: 30px;
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    top: 5em;
    flex-direction: column;
    width: 100%;
  }

  .nav_menu.active {
    left: 0;
    display: block;
    line-height: 3;
  }
  .nav_menu:hover .nav_link:not(:hover) {
    filter: blur(0px);
  }
  .back_body.active {
    display: none;
  }

  /* -- ABOUT SECTION -- */
  .about_section {
    /* font-size: var(--desktop-font); */
    height: 90vh;
  }

  .name {
    line-height: 50px;
    font-size: calc(2 * var(--Mobile-fs-mid));
  }

  .name_hover {
    animation: line 4s ease-in-out infinite;
  }

  @keyframes line {
    0% {
      width: 0%;
    }

    50% {
      width: 100%;
    }
  }

  .typing {
    font-size: var(--Mobile-fs-mid);
    padding-left: 15px;
  }

  .side_one {
    width: 100%;
  }

  .side_two {
    width: 100%;
  }

  /* -- BIO SECTION -- */
  .bio_card {
    width: 100%;
    margin: 0 2em;
    font-size: var(--Mobile-fs-small);
  }

  /* BRIEF BIO SECTION */
  .brief_bio_section {
    padding: var(--Mobile-fs-small);
    gap: var(--Mobile-fs-small);
    font-size: var(--Mobile-fs-small);
  }

  .bio_data {
    width: 100%;
  }

  .skills_data {
    width: 100%;
  }

  .skills_data h2 {
    margin-bottom: var(--Mobile-fs-small);
  }

  .skills_data .skill {
    padding: var(--Mobile-fs-small);
    margin-right: var(--Mobile-fs-small);
    font-size: var(--Mobile-fs-small);
    background: bisque;
  }

  .skills_data .skill {
    margin: 0.5em;
  }

  .contact_btn,
  .resume_btn {
    height: 50px;
    width: 150px;
  }

  .popup-content {
    width: 75vw;
  }

  .popup-content h2 {
    font-size: 18px;
  }

  .close {
    font-size: 24px;
  }

  /* PROJECT SECTION */
  .project_title h2 {
    font-size: 1.5em;
  }

  .project_headline {
    font-size: 2em;
  }

  .card img {
    width: 80%;
    aspect-ratio: 0;
    /* border-radius: 7px 7px 0 0; */
  }

  .project_title,
  .project_des {
    font-size: 15px;
  }

  .project_data {
    margin: 0 0 3em 0;
    height: fit-content;
    border: none;
    border-bottom: 1px solid black;
  }

  .go_live_arrow {
    display: none;
  }
  .send_data_btn{
    animation: trans 2s ease-in-out infinite;
  }
  @keyframes trans {
    0%{
      background-position: 25%;
    }
    50%{
      background-position: 100%;
      color: #fff;
    }
    100%{
      background-position: 25%;
    }
  }

  .scroll_btn h2{
    font-size: 1em;
  }

  /* FOOTER SECTION  */
  .footer {
    padding: 1em 0;
  }
  .footer p {
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px;
  }
  .social_links a .fa-facebook {
    color: var(--fb-blue);
    animation: blink 2.5s linear infinite;
  }
  .social_links a .fa-x-twitter {
    color: var(--twitter-black);
    animation: blink 2.5s linear infinite;
  }
  .social_links a .fa-instagram {
    color: var(--instagram-pink);
    animation: blink 2.5s linear infinite;
  }
  .social_links a .fa-linkedin {
    color: var(--linkedin-blue);
    animation: blink 2.5s linear infinite;
  }
  @keyframes blink {
    50% {
      color: gray;
    }
  }
  .box{
    max-width: 80%;
  }
}
