:root {
  --Mobile-fs-mid: 1.5em;
  --Mobile-fs-small: 1em;
}

@media (max-width: 550px) {
  .nav_menu {
    display: none;
  }
  .hamburger_menu {
    height: 70px;
    width: 70px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hamburger {
    height: 4px;
    width: 30px;
    background: black;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    height: 3px;
    width: 40px;
    background: black;
    position: absolute;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
  }
  .hamburger::before {
    transform: translateY(-15px);
  }
  .hamburger::after {
    transform: translateY(15px);
  }
  .hamburger_menu.open .hamburger {
    transform: translateX(-50px);
    background: transparent;
  }
  .hamburger_menu.open .hamburger::before {
    transform: translate(50px, 0px) rotate(45deg);
    height: 4px;
    width: 30px;
  }
  .hamburger_menu.open .hamburger::after {
    transform: translate(50px, 0px) rotate(-45deg);
    height: 4px;
    width: 30px;
  }
  .nav_menu {
    position: fixed;
    left: -100%;
    top: 5em;
    flex-direction: column;
    width: 100%;
  }
  .nav_menu.active {
    left: 0;
    display: block;
    line-height: 4;
  }
  .back_body.active {
    display: none;
  }

  /* -- ABOUT SECTION -- */
  .about_section {
    /* font-size: var(--desktop-font); */
    height: 90vh;
  }
  .name {
    line-height: 50px;
    font-size: 3.5em;
  }
  .name_hover {
    animation: line 4s ease-in-out infinite;
  }
  @keyframes line {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
  }
  .typing {
    font-size: var(--Mobile-fs-mid);
  }
  .side_one {
    width: 100%;
  }
  .side_two {
    width: 100%;
  }

  /* -- BIO SECTION -- */
  .bio_card {
    width: 100%;
    margin: 0 2em;
    font-size: var(--Mobile-fs-small);
  }

  .brief_bio_section{
    padding: 1em;
    gap: 1em;
    font-size: 1em;
  }
  .bio_data{
    width: 100%;
  }
  .skills_data{
    width: 100%;
  }
  .skills_data .skill {
    padding: 1em;
    margin-right: 1em;
    font-size: 1em;
    background: bisque;
}
.skills_data .skill {
  margin: .5em;
}
}
